@keyframes moveBox {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px);
    }
  }
  
  .move-box {
    animation-name: moveBox;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveBoxleft {
    0% {
      transform: translateX(200px);
    }

    100% {
      transform: translateX(0);
    }
  }
  
  
  
  .move-box-left {
    animation-name: moveBoxleft;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }